$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.dsl-highlight {
  background-color: rgb(255 255 0 / 20%);
  border-left: 3px solid orange;
}

.dsl-highlight-inline {
  background-color: rgb(255 255 0 / 10%);
}
